{% extends "layout.html" %} {% block title %} {{title}} {% endblock %} {% block content %} <div class="resume-sections">
  <div class="left-section">
    <button class="button js-modal-trigger" data-target="modal-js-example"> Resume Downloads </button>
    <div id="modal-js-example" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box is-flex">
          <h4 class="title is-4">Resume Download Links</h4>
          <ul class="download-links">
            <li>
              <a href="{{ url_for('static', filename='documents/resume.docx') }}" target="_blank">
                <h2 class="subtitle">
                  <span>&#8595;</span> Word Document
                </h2>
              </a>
            </li>
            <li>
              <a href="{{ url_for('static', filename='documents/resume.pdf') }}" target="_blank">
                <h2 class="subtitle">
                  <span>&#8595;</span> PDF Document
                </h2>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
  </div> {#
	<div class="right-section">#} {#
		<object class="resume-pdf" data="{{ url_for('static', filename='documents/resumeER.pdf') }}" type="application/pdf">#} {#
			<p>Unable to display PDF file.
				<a href="/uploads/media/default/0001/01/540cb75550adf33f281f29132dddd14fded85bfc.pdf">Download</a> instead.
			</p>#} {#
		</object>#} {#
	</div>#}
</div>
<script src={{ url_for('static', filename='js/resume.js') }}></script> {% endblock content %}